<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.4/phpunit.xsd"
        bootstrap="./vendor/autoload.php"
        colors="true"
        verbose="true"
        stopOnFailure="true">

    <testsuites>
        <testsuite name="scenarios">
            <directory>./tests</directory>
            <exclude>./src/TableGateway/SqlTableGateway.php</exclude>
            <exclude>./src/TableGateway/MongoTableGateway.php</exclude>
            <exclude>./src/DataProvider/DataProvider.php</exclude>
            <exclude>./src/Rest/Collection.php</exclude>
            <exclude>./src/Rest/RestRepository.php</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>